body {
  margin:0px;
  background-color:rgba(20, 20, 20, 1);
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:627px;
  width:200px;
  height:200px;
  display:flex;
}
#u2752 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(20, 20, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  display:flex;
}
#u2753 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  display:flex;
}
#u2754 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(20, 20, 20, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(20, 20, 20, 0.996078431372549);
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:750px;
  height:88px;
  display:flex;
  font-family:'.萍方-简 正规体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(20, 20, 20, 0.996078431372549);
}
#u2755 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:101px;
  width:180px;
  height:60px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2756 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:44px;
  height:44px;
  display:flex;
}
#u2757 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2758_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:696px;
  height:11px;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:280px;
  width:690px;
  height:5px;
  display:flex;
}
#u2758 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:2px;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:500px;
  width:690px;
  height:1px;
  display:flex;
}
#u2759 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:210px;
  width:180px;
  height:60px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u2760 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:305px;
  width:146px;
  height:40px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u2761 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:525px;
  width:48px;
  height:48px;
  display:flex;
}
#u2762 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:30px;
  color:#FFD130;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:529px;
  width:146px;
  height:40px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:30px;
  color:#FFD130;
}
#u2763 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:90px;
  background:-webkit-linear-gradient(0deg, rgba(255, 236, 130, 1) 11%, rgba(255, 209, 48, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(255, 236, 130, 1) 11%, rgba(255, 209, 48, 1) 100%);
  background:linear-gradient(90deg, rgba(255, 236, 130, 1) 11%, rgba(255, 209, 48, 1) 100%);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:950px;
  width:660px;
  height:90px;
  display:flex;
  font-size:35px;
}
#u2765 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#434343;
  text-align:center;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:972px;
  width:146px;
  height:50px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#434343;
  text-align:center;
}
#u2766 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:827px;
  width:146px;
  height:33px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u2767 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 209, 48, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:791px;
  width:180px;
  height:20px;
  display:flex;
}
#u2768 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
