body {
  margin:0px;
  background-color:rgba(20, 20, 20, 1);
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(20, 20, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2939 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:750px;
  height:88px;
  display:flex;
}
#u2939 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u2940 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:750px;
  height:88px;
  display:flex;
}
#u2940 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(20, 20, 20, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(20, 20, 20, 0.996078431372549);
}
#u2941 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:97px;
  width:750px;
  height:88px;
  display:flex;
  font-family:'.萍方-简 正规体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(20, 20, 20, 0.996078431372549);
}
#u2941 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:111px;
  width:183px;
  height:60px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2942 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 209, 48, 1);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFD130;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:171px;
  width:47px;
  height:5px;
  display:flex;
  font-family:'.萍方-简 正规体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFD130;
}
#u2943 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:345px;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:215px;
  width:690px;
  height:345px;
  display:flex;
}
#u2944 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/控件/u28_div.png');
  background-repeat:no-repeat;
  background-size:44px 44px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:119px;
  width:44px;
  height:44px;
  display:flex;
}
#u2945 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2946 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:119px;
  width:40px;
  height:40px;
  display:flex;
}
#u2946 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:440px;
}
#u2947 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:610px;
  width:330px;
  height:440px;
  display:flex;
}
#u2947 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:440px;
}
#u2948 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:610px;
  width:330px;
  height:440px;
  display:flex;
}
#u2948 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:440px;
}
#u2949 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1070px;
  width:330px;
  height:440px;
  display:flex;
}
#u2949 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:440px;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1070px;
  width:330px;
  height:440px;
  display:flex;
}
#u2950 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:440px;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1530px;
  width:330px;
  height:440px;
  display:flex;
}
#u2951 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:440px;
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1530px;
  width:330px;
  height:440px;
  display:flex;
}
#u2952 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.698039215686274);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:739px;
  width:115px;
  height:115px;
  display:flex;
}
#u2954 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0);
  background-image:url('../../images/闯关/u2707_div.png');
  background-repeat:no-repeat;
  background-size:50px 50px;
  background-position: left top;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:772px;
  width:50px;
  height:50px;
  display:flex;
}
#u2955 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.698039215686274);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2957 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:739px;
  width:115px;
  height:115px;
  display:flex;
}
#u2957 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0);
  background-image:url('../../images/闯关/u2707_div.png');
  background-repeat:no-repeat;
  background-size:50px 50px;
  background-position: left top;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2958 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:772px;
  width:50px;
  height:50px;
  display:flex;
}
#u2958 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.698039215686274);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2960 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1199px;
  width:115px;
  height:115px;
  display:flex;
}
#u2960 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0);
  background-image:url('../../images/闯关/u2707_div.png');
  background-repeat:no-repeat;
  background-size:50px 50px;
  background-position: left top;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2961 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1232px;
  width:50px;
  height:50px;
  display:flex;
}
#u2961 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.698039215686274);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2963 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:1199px;
  width:115px;
  height:115px;
  display:flex;
}
#u2963 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0);
  background-image:url('../../images/闯关/u2707_div.png');
  background-repeat:no-repeat;
  background-size:50px 50px;
  background-position: left top;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2964 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:1232px;
  width:50px;
  height:50px;
  display:flex;
}
#u2964 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.698039215686274);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2966 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1659px;
  width:115px;
  height:115px;
  display:flex;
}
#u2966 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0);
  background-image:url('../../images/闯关/u2707_div.png');
  background-repeat:no-repeat;
  background-size:50px 50px;
  background-position: left top;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2967 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1692px;
  width:50px;
  height:50px;
  display:flex;
}
#u2967 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.698039215686274);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2969 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:1659px;
  width:115px;
  height:115px;
  display:flex;
}
#u2969 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0);
  background-image:url('../../images/闯关/u2707_div.png');
  background-repeat:no-repeat;
  background-size:50px 50px;
  background-position: left top;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:1692px;
  width:50px;
  height:50px;
  display:flex;
}
#u2970 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1390px;
  width:330px;
  height:120px;
  display:flex;
}
#u2972 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1408px;
  width:268px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2973 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1460px;
  width:268px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2974 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1390px;
  width:330px;
  height:120px;
  display:flex;
}
#u2976 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:1408px;
  width:305px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2977 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1460px;
  width:268px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2978 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:930px;
  width:330px;
  height:120px;
  display:flex;
}
#u2980 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:948px;
  width:268px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2981 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2982 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1000px;
  width:268px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2982 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:930px;
  width:330px;
  height:120px;
  display:flex;
}
#u2984 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:948px;
  width:268px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2985 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1000px;
  width:268px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2986 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1850px;
  width:330px;
  height:120px;
  display:flex;
}
#u2988 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1868px;
  width:268px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2989 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1920px;
  width:268px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2990 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1850px;
  width:330px;
  height:120px;
  display:flex;
}
#u2992 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1888px;
  width:268px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#434343;
}
#u2993 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1920px;
  width:268px;
  height:42px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2994 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
